@model ViewModel.ProductViewModel

@{
    ViewData["Title"] = "Add";
    List<SelectListItem> temp = ViewData["Categories"] as List<SelectListItem>;
}


<h1>View</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="CategoryID" class="form-label"></label>
                <select asp-for="CategoryID" asp-items="temp" class="form-control">
                </select>
                <span asp-validation-for="CategoryID" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input asp-for="Images" />
            </div>
            <!--

            <div class="form-group">
                <label asp-for="CategoryID" class="control-label"></label>
                <input name="CategoryID" asp-for="CategoryID" class="form-control" />

            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
